/vendor
/node_modules
composer.phar
composer.lock
/public/storage
Homestead.yaml
Homestead.json
.env
.DS_Store
Thumbs.db
/bower_components
/bootstrap
/resources/assets/bower_components
.sass-cache
all.css
all.js
app.css
app.js
/public/js
/public/css
/public/files
.phpintel
