@import "variables";

#app-layout {
	#app-sidebar {
		display: flex;
		flex-flow: column wrap;
		height: 100vh;
		width: rem(100px);
		justify-content: flex-start;
		align-items: center;
		transition: width 0.6s ease-in-out;
		.navbar-brand {
			margin-right: 0;
		}
	    .name {
	    	width: rem(30px);
	    	height: rem(30px);
		    border-radius: 50%;
		    background-color: $primary;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    transition: all 0.6s ease-in-out;
	    }
	    #topNav {
	    	.dropdown-item {
	    		display: flex;
	    		justify-content: center;
	    		align-items: center;
	    	}
	    }
		#centralNav, #bottomNav {
			display: flex;
			flex-flow: column wrap;
			padding: rem(5px) rem(5px);
			span.fa {
				align-self: center;
				position: absolute;
				right: 50%;
        		transform: translate(50%, 0);
				transition: all 0.6s ease-in-out;
			}
		}
		#centralNav {
			flex: 1;
			justify-content: center;
		}
		#bottomNav {
			justify-content: flex-end;
			height: rem(100px);
		}
		.navbar-nav, .nav-item {
			width: 100%;
		}
		.nav-item {
			padding: rem(10px) 0;
			display: flex;
			flex-flow: row-reverse nowrap;
			&.active {
				background-color: transparent;
				.nav-link {
					color: $primary;
				}
			}
			.nav-link {
				display: flex;
    			justify-content: center;
    			flex: 1;
    			transition: all 0.3s ease-in-out;
    			&::after {
    				position: absolute;
    				content: '';
    				height: 100%;
    				width: 100%;
    				background-color: $primary;
    				color: #000;
    				top: 0;
    				left: 0;
    				transform: rotateX(90deg);
    			}
			}
		}
		.side-nav {
			display: flex;
			justify-content: flex-start;
			flex: 1;
			position: absolute;
			left: 5%;
			transform: translate(-5%, 0);
			opacity: 0;
		}
		&.is-opening {
			width: rem(200px);
			.dropdown-item {
				perspective: rem(1000px);
			}
			.name:hover {
				transform: rotateY(360deg);
			}
			#centralNav, #bottomNav {
				.nav-link {
					span.fa {
						right: 10%;
					}
					&.side-nav {
						opacity: 1;
						left: 0;
					}
				}
			}
		}
	}
}