@import "variables";
html {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

@include media-breakpoint-down(sm) {
  html {
    font-size: 14px;
  }
  #topNav {
    .name {
      width: rem(50px)!important;
      height: rem(50px)!important;
    }
  }
  #centralNav, #bottomNav {
    .side-nav {
      padding-top: rem(20px);
      right: 50%!important;
      transform: translate(50%, 0)!important;
    }
  }
  #app-sidebar.is-opening {
    width: 100%!important;
    font-size: rem(28px);
    .navbar-toggler, .name {
      font-size: rem(40px);
    }
    .nav-item {
      padding: 2rem 2rem!important;
    }
    .nav-link {
      overflow: visible;
    }
    #topNav {
      .name {
        width: rem(100px)!important;
        height: rem(100px)!important;
      }
    }
    #centralNav, #bottomNav {
      span.fa {
        right: 50%!important;
        top: -20%!important;
        transform: translate(50%, 0);
      }
      .side-nav {
        transform: translate(50%, 10%)!important;
      }
    }
  }
  #dropdownMenuLink, .dropdown-menu .dropdown-item {
  	font-size: 14px;
  }
  .dropdown-menu {
  	margin-left: rem(6px);
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 15px;
  }
  #topNav {
    .name {
      width: rem(50px)!important;
      height: rem(50px)!important;
    }
  }
  #dropdownMenuLink, .dropdown-menu .dropdown-item {
  	font-size: 14px;
  }
  .dropdown-menu {
  	margin-left: rem(10px);
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 16px;
  }
  #topNav {
    .name {
      width: rem(50px)!important;
      height: rem(50px)!important;
    }
  }
  #dropdownMenuLink, .dropdown-menu .dropdown-item {
  	font-size: 12px;
  }
  .dropdown-menu {
  	margin-left: rem(6px);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: $primary !important;
    transition: background-color 5000s ease-in-out 0s;
}

.nav-link {
	color: #fff;
	&:hover{
		color: #37435a;
	}
}
.btn {
	border-radius: 0.3rem;
	&.btn-default {
		color: darken($primary, 10%)!important;
		background-color: $default!important;
    	&:hover,&:focus
    	{
      	background-color: lighten($default, 20%)!important;
    	}
    	&:active {
    		// color: lighten($primary, 20%)!important;
    		background-color: lighten($default, 20%)!important;
    	}
	}

}
.hide {
	opacity: 0;
}
.show {
	opacity: 1;
}
.seperator {
	border: 0;
	border-top: 1px solid rgba(194, 213, 219, 0.4);
	margin: 10px -10px;
}

.list-group-item {
  border: 0;
  background-color: #f7f7f9;
  &.active, &.active:hover {
    background-color: darken(#f7f7f9, 5%);
    color: #000;
    font-weight: 500;
  }
  &:hover {
    background-color: darken(#f7f7f9, 2%);
  }
}
