// @import "MDBootstrap/sass/mdb";
html,
body {
  width: 100vw;
}

label {
  &:focus {
    outline: none;
  }
}

.full-page {
  height: 100vh;
  width: 100vw;
}

.btn {
  &:focus,
  &:active,
  &:hover {
    outline: none;
  }
  border-radius: .8rem;
}

.card-title {
  font-weight: 600;
}

.is-submit {
  animation-delay: 0ms;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-name: send;
  animation-timing-function: ease-in-out;
}

#nav-header {
  background-color: transparent;
  padding: 1rem;
}

#content {
  position: relative;
  display: flex;
  @extend .full-page;
  align-items: center;
  justify-content: center;
}

#tableContent {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

#loginForm {
  transform: scale(0, 0);
  animation-name: pop;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
  opacity: 0;
  animation-fill-mode: forwards;
  #loginButton {
    position: absolute;
    right: 50%;
    bottom: 0;
    width: 60px;
    height: 60px;
    -webkit-transition: transform 600ms ease-in-out;
    -moz-transition: transform 600ms ease-in-out;
    -ms-transition: transform 600ms ease-in-out;
    -o-transition: transform 600ms ease-in-out;
    transition: transform 600ms ease-in-out;
    transform: translate(0, 50%) scale(1) rotate(0deg);
    border-radius: 50%;
    outline: none;
    &:hover {
      transform: translate(0, 50%) scale(1.2) rotate(360deg);
    }
  }
}

#regisForm {
  transform: scale(0, 0);
  animation-name: pop;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
  opacity: 0;
  animation-fill-mode: forwards;
  .card {
    position: relative;
    top: 50%;
    right: 50%;
    width: 70%;
    height: 100%;
    transform: translate(60%, -10%);
  }
  #regisButton {
    position: absolute;
    right: 50%;
    bottom: 0;
    width: 60px;
    height: 60px;
    -webkit-transition: transform 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out;
    -ms-transition: transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transform: translate(0%, 50%) scale(1);
    border-radius: 50%;
    outline: none;
    &:hover {
      transform: translate(0%, 40%) scale(1.2);
    }
  }
}

#hero-section {
  background-color: #fff;
  > .jumbotron {
    display: flex;
    background-color: #fff;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    > h1 {
      transform: translateY(50%);
      animation-name: showY;
      animation-duration: 1000ms;
      animation-timing-function: ease-in-out;
      animation-delay: 0ms;
      opacity: 0;
      animation-fill-mode: forwards;
    }
    > p {
      transform: translateX(50%);
      animation-name: showX;
      animation-duration: 1000ms;
      animation-timing-function: ease-in-out;
      animation-delay: 1000ms;
      opacity: 0;
      animation-fill-mode: forwards;
    }
    > div > a {
      transform: scale(0, 0);
      animation-name: pop;
      animation-duration: 600ms;
      animation-timing-function: ease-in-out;
      animation-delay: 2000ms;
      opacity: 0;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes showY {
  0% {
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes showX {
  0% {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes send {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  10% {
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}

#grid-lside {
  position: fixed;
  z-index: 999;
  height: 94%;
  #header-button {
    .btn {
      &:hover,
      &:active,
      &:visited,
      &:focus {
        background-color: #0275d8;
      }
    }
    .new-contextmenu {
      z-index: 1000;
      width: 200%;
      margin: 0;
      padding: .7rem;
      padding-left: 0;
      > a {
        display: flex;
        cursor: pointer;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        i {
          color: #909090;
          > i {
            font-size: 8px;
            position: absolute;
            top: 40%;
            left: 8.75%;
            color: #fff;
          }
        }
        &:hover {
          border-left: 8px solid #909090;
          background-color: #e8e8e8;
        }
      }
    }
  }
  .content {
    font-size: 18px;
    line-height: 110%;
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    height: 80%;
    .card-block {
      font-weight: 600;
    }
    a {
      padding: 16px;
      &:first-child {
        padding-top: 16px;
      }
    }
  }
  .list-group {
    margin-top: 50px;
    margin-bottom: 16px;
    margin-left: -16px;
  }
  .list-group-item {
    cursor: pointer;
    border-top: 4px solid #fff;
    border-right: 0;
    border-bottom: 4px solid #fff;
    label,
    a {
      cursor: pointer;
    }
    &:hover {
      border-left: 8px solid #909090;
      background-color: #d8d8d8;
    }
    &.active {
      font-weight: bold;
      color: #333;
      border-left: 8px solid #5c90d2;
      background-color: #fff;
    }
    &:before {
      position: absolute;
      z-index: 1000;
      top: 20%;
      left: 0;
      display: none;
      width: 100%;
      height: 60%;
      content: '';
      border-left: 8px solid #5c90d2;
      background-color: pink;
    }
  }
}

.btn-outline-default {
  border-color: #789696;
  &:hover,
  &.active {
    color: #fff;
    background-color: #909090;
  }
  &.focus.active {
    color: #fff;
    background-color: #676767;
  }
}

.btn-borrow {
  color: #fff;
  border-color: #17b5be;
  background-color: #17b5be;
  &:hover {
    color: #fff;
    background-color: #22a8b0;
  }
  &:active {
    color: #fff;
    background-color: #11777d;
  }
}

.btn-outline-borrow {
  color: #17b5be;
  border-color: #17b5be;
  &:hover,
  &.active {
    color: #fff;
    background-color: #22a8b0;
  }
  &.focus.active {
    color: #fff;
    background-color: #11777d;
  }
}

.btn-lost {
  color: #fff;
  border-color: #9157dc;
  background-color: #9157dc;
  &:hover {
    color: #fff;
    background-color: #814dc3;
  }
  &:active {
    color: #fff;
    background-color: #7748b3;
  }
}

.btn-outline-lost {
  color: #9157dc;
  border-color: #9157dc;
  &:hover,
  &.active {
    color: #fff;
    background-color: #814dc3;
  }
  &.focus.active {
    color: #fff;
    background-color: #7748b3;
  }
}

.tag-borrow {
  border-color: #17b5be;
  background-color: #17b5be;
}

.tag-outline-borrow {
  color: #17b5be;
  border: 1px solid #17b5be;
}

.tag-lost {
  border-color: #9157dc;
  background-color: #9157dc;
}

.tag-outline-lost {
  color: #9157dc;
  border: 1px solid #9157dc;
}

.tag-return-pending {
  border-color: #d36733;
  background-color: #d36733;
}

.tag-return-unavailable {
  color: #909090;
  border-color: #f5f6f7;
  background-color: #f5f6f7;
}

.shadow {
  transition-property: box-shadow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.nav-shadow {
  transition-property: box-shadow;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.panel-shadow {
  transition-property: box-shadow;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.float-shadow {
  transition-property: box-shadow;
  box-shadow: 0 0 40px rgba(0, 0, 0, .4);
}

.hvn-btn-shadow-outset {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  &:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .6);
  }
}

.hvr-box-shadow-outset {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  &:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
  }
}

.login-card {
  padding: 1.25rem 1.25rem;
  .panel-heading {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    color: white;
    background-color: #ce2704;
    h3 {
      padding: .625rem 0;
    }
  }
}

// Media Query
@media (max-width: 845px) {
  #header-title,
  #header-body {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 544px) {
  #header-title,
  #header-body {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 846px) {
  #header-button,
  #grid-menu a {
    max-width: 11.25rem;
  }
}
