html,
body {
    background-color: light-gray;
}

.table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table thead th {
    background-color: #2C3539;
    color: white;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: light-gray;
}

.modal-inform {
	border-bottom: 1px solid #666;
	margin-bottom: 10px;
	padding-bottom: 0;
}
