@import 'variables';
.card-table {
  .card-title {
    color: $white;
  }
}

.card-header-tabs {
  .nav-link {
    transition: all .3s;
    color: $white;
    &:hover {
      color: $black-darker;
      background-color: $white;
    }
    &.active {
      color: $black-darker;
    }
  }
}

.paginate_button {
  transition: opacity .3s, visibility .3s;
  &.active {
    a {
      &[aria-controls='table-return-admin'] {
        color: $white !important;
        border-color: $warning !important;
        background-color: $warning !important;
      }
    }
  }
  a {
    &[aria-controls='table-return-admin'] {
      color: $warning;
    }
  }
}

.modal-header {
  color: #fff;
  background-color: #0275d8;
}

.tab-content {
  width: 100%;
  .table {
    th {
      border: 0;
    }
  }
  .modal {
    .col-form-label {
      padding-top: 0;
      padding-bottom: .5rem;
    }
  }
}

// User view
.grid-header {
  p {
    color: $black-lighter;
  }
  &.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 111;
    border-top: 0;
    transition: top .3s ease-in-out;
    // margin-top: rem(0px) !important;
  }
  position: absolute;
  z-index: 2;
  // top: 10%;
  transform: translate(0, -25%);
}
