@import "variables";


.card-table {
  .card-title {
    color: $white;
  }
}

.card-header-tabs {
  .nav-link {
    transition: all .3s;
    color: $white;
    &:hover {
      color: $black-darker;
      background-color: $white;
    }
    &.active {
      color: $black-darker;
    }
  }
}

.dt-bootstrap4 {
  transition: opacity .3s, visibility .3s;
}

#header-button .btn {
  border-radius: .25rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.modal-header {
  background-color: #0275d8;
  color: #fff;
}

.tab-content {
  width: 100%;
}

.modal-inform {
  margin-bottom: 10px;
  padding-bottom: 0;
  border-bottom: 1px solid #666;
}
